<% provide(:title, t(".title")) %>
<div class = "form_padding">
  <div class = "row">
    <div class = "col-md-8 col-md-offset-2">
      <%= link_to t(".btn_create"), new_admin_tour_path %>
      <table class="table">
        <thead>
          <tr>
            <th><%= t ".name" %></th>
            <th><%= t ".place" %></th>
            <th><%= t ".price" %></th>
            <th><%= t ".start_time" %></th>
            <th><%= t ".status" %></th>
          </tr>
        </thead>
        <tbody>
          <%= render @tours %>
        </tbody>
      </table>
      <%= will_paginate @tours %>
    </div>
  </div>
</div>
