<li>
  <ul id = "comment-<%= comment.id %>">
    <p><%= comment.user_name %>: <%= comment.comment_content %></p>
    <div class = "form-reply-comment" id = "list-reply-comment-<%= comment.id %>">
      <div>
        <ul id = "reply-comment-<%= comment.id %>">
          <% load_reply_comment(@tour, comment.id) %>
          <% @reply_comments.each do |reply_comment| %>
            <li>
                <%= reply_comment.user_name %>: <%= reply_comment.comment_content %>
            </li>
          <% end %>
        </ul>
      </div>
      <%= form_for(@reply_comment, remote: true) do |f| %>
        <%= f.hidden_field :tour_id, value: @tour.id %>
        <%= f.hidden_field :reply_comment, value: comment.id %>
        <%= f.hidden_field :comment_at, value: Time.zone.now %>
        <%= f.text_field(:comment_content) %>
        <%= f.submit t(".btn_comment") %>
      <% end %>
    </div>
  </ul>
</li>
